
<h3>Bem Vindo ao UpLoader com Jason</h3>

<%= link_to 'PaperClip', paperclip_images_path %><Br>

<%= link_to 'CarrierWave', carrierwave_images_path %><br>

<%= link_to 'DragonFly', dragonfly_images_path %>