
<h3>Bem Vindo ao UpLoader com Jason</h3>

	<p>Teste Imagems Kelber</p>

<%= link_to 'PaperClip', paperclip_images_path, class: "button radius" %><Br>

<%= link_to 'CarrierWave', carrierwave_images_path , class: "button radius success"%><br>

<%= link_to 'DragonFly', dragonfly_images_path, class: "button radius alert" %>